/* CSS for ps_time_invoice.module views */

body.page-ps-invoice td,
body.page-ps-invoice-detail td {
    padding-right: 40px;
}

body.page-ps-invoice th,
body.page-ps-invoice-detail th {
    padding-right: 20px;
    padding-left: 20px;
}

.ps-invoice-header .ps-invoice-header-left {
    float: left;
    margin-right: 100px;
    margin-bottom: 20px;
}

span.ps-invoice-header-label {
    font-weight: bold;
}

p.ps-invoice-header-info {
    margin-bottom: 0px;
    margin-top: 0px;
}

div.ps-invoice-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.view-ps-invoice .view-groupfooter-number .views-field,
div.view-ps-biz-activities .view-groupfooter-number .views-field,
div.view-ps-invoice-detail .view-groupfooter-number .views-field {
    font-weight: bold;
}

div.view-ps-invoice caption, div.view-ps-invoice-detail caption {
    margin-bottom: 1em;
    font-weight: bold;
}

div.view-ps-biz-activities th.views-field {
    padding-right: 10px;
}

div.ps-clear-both {
    clear: both;
}
